<!DOCTYPE html>

<html>
    <head>
        <title>Especialidades</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <tr>Descripcion</tr>
                </tr>
            </thead>
            <tbody>
                @* Aca colocaremos, mas adelante, el codigo para mostrar los registros de la base de datos*@
                <tr>
                    <td>
                        Traumatologo
                    </td>
                </tr>
                <tr>
                    <td>
                        Cardiologo
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>